body{
    font-size: 16px;

}

h1{

    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

.paragraphandlist{
    background-color: blue;
}

p{
    font-weight: 600;
    font-size: 3em;
}

ul {
    font-style: italic;
    line-height: 40px;
    text-align: justify;
    text-decoration: underline;
}

#amarelo {
   color: yellow ;
}
#vermelho {
   color: red ;
}
#marrom {
   color: brown ;
}