.warning, .disclaimer{
    background-color: red;
    color: white;
    font-family: monospace;
}

.warning{
    border: 5px solid yellow;
}

.green{
    background-color: green;
    color: white;
    font-family: monospace;
}

li:hover {
    background-color: green;
    color: greenyellow;
}

li:active {
    color: white;
}