*{
    margin: auto;
    border: 1px solid black;
    
}

body{
    font-size: 20px;
}

input {
   font-size: 1em;
}

button {
    font-size: 1em;
}

output {
    font-size: 20px;
    border: 3px solid black;
}

.cond {
    text-align: center;
    padding: 10px;
}
